<div class='col-xs-12'>
    <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
            <div class="item  active">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Panel content
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default btn-sm">More View >></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Panel content
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default btn-sm">More View >></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Panel content
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default btn-sm">More View >></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Panel content
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default btn-sm">More View >></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Panel content
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default btn-sm">More View >></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Panel content
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default btn-sm">More View >></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Panel content
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default btn-sm">More View >></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Panel content
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default btn-sm">More View >></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Panel content
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default btn-sm">More View >></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
    </div>
</div>