<div class="footer">
    <div class="container">
        <a href='#'><i class="fa fa-twitch fa-2x fa-fw"></i></a>
        <a href='#'><i class="fa fa-facebook fa-2x fa-fw"></i></a>
        <a href='#'><i class="fa fa-twitter fa-2x fa-fw"></i></a>
        <a href='#'><i class="fa fa-youtube-play fa-2x fa-fw"></i></a>
        <a href='#'><i class="fa fa-rss fa-2x fa-fw"></i></a>
        <a href='#'><i class="fa fa-vine fa-2x fa-fw"></i></a>
        <a href='#'><i class="fa fa-flickr fa-2x fa-fw"></i></a>
        <a href='#'><i class="fa fa-linkedin fa-2x fa-fw"></i></a>
    </div>
    <div class="botton-footer text-center">
        <i class="fa fa-heart fa-fw"></i> BinadyHow (BH) Love You <i class="fa fa-heart fa-fw"></i>
    </div>
</div>